body,
html {
    height: 100%;
}
.auth {
    height: 100%;
    width: 100%;
    background: #e3e3e3;
    position: relative;
    text-align: center;
}
.auth .panel-primary {
    width: 500px;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.user {
    margin-right: 30px;
}
.exit {
    margin-left: 15px;
}
.filter {
    cursor: pointer;
}
.filter:hover {
    text-decoration: underline;
    color: #0c0cc9;
}
 span.open-task {
    cursor: pointer;
}
span.open-task:hover {
    text-decoration: underline;
    color: #0c0cc9;
}
table th:nth-child(4),
table td:nth-child(4),
table th:nth-child(6),
table td:nth-child(6) {
    display: table-cell;
}
table.table_small th:nth-child(4),
table.table_small td:nth-child(4),
table.table_small th:nth-child(6),
table.table_small td:nth-child(6) {
    display: none;
}

table tbody tr.table-sort {
    display: none;
}
table.table_sort tbody tr.table-sort {
    display: table-row;
}
.task-app {
    height: 100%;
}
 
 