<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
    <title>Task list</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <script src="string_constants.js"></script>
    <script src="task-app.js"></script>
    
     
</head>
<body>
   <div class="task-app" ng-controller="defaultCtrl">
      
       <!--Страница авторизации-->
        <div class="auth" ng-if="authPage">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>
                            Авторизация
                        </h3>
                    </div>
                </div>

                <div class="panel-body center-block"> 
                   <p>{{message}}</p>
                   <form role="form panel-body">
                        <div class="form-group"> 
                            <label for="login">Логин</label>
                            <input type="text" class="form-control" id="login" placeholder="Введите логин" ng-model="login" />
                        </div> 
                        <div class="form-group"> 
                            <label for="pass">Пароль</label>
                            <input type="password" class="form-control" id="pass" placeholder="Введите пароль" ng-model="password" />
                        </div>
                        <button type="submit" class="btn btn-primary col-md-4 col-md-offset-4" ng-click="authorize(login, password)">Войти</button> 
                    </form>
                </div>
            </div>
        </div>

       
        <div ng-if="tasksPage" class="users">

            <h4 class="text-right user">
                <span>User:</span> 
                <span><b>{{user.user_name}}</b></span>
                <div class="btn btn-default exit" ng-click="exit()">Выйти</div>
            </h4>
            
            
            <!-- Список задач-->
            <div class="text-center well fon" ng-if="tasksListPage">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>
                                Список задач
                            </h3>
                        </div>
                    </div>

                    <table class="table text-left" ng-class="selectedClass">
                        <thead>
                            <tr class="h4">
                                <th width="5%">№п/п</th>
                                <th width="10%">Дата</th>
                                <th width="20%" class="filter" ng-click="reverse = !reverse; predicate = 'name'">Название</th>
                                <th width="40%">Краткое описание</th>
                                <th width="10%" class="filter" ng-click="reverse = !reverse; predicate = 'complete'" class="filter">Статус</th>
                                <th>Планируемое время</th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr class="table-sort">
                                <td></td>
                                <td><input ng-model="f.date" type="search"></td>
                                <td><input ng-model="f.name" type="search"></td>
                                <td><input ng-model="f.short_description" type="search"></td>
                                <td><input ng-model="f.complete" type="search"></td></td>
                                <td><input ng-model="f.estimate" type="search"></td>
                            </tr>
                            <tr ng-repeat="task in user['tasks_list'] | orderBy:predicate:reverse | filter:f">
                                <td>{{$index+1}}</td>
                                <td>{{task.date}}</td>
                                <td><span ng-click=showTasksItemPage($index) class="open-task">{{task.name}}</span></td>
                                <td>{{task.short_description}}</td>
                                <td><input type="text" ng-model="task.complete" /></td>
                                <td><input type="text" ng-model="task.estimate" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row well text-left">
                   <p>Вид таблицы:</p>
                    <div class="radio" ng-repeat="item in classNames">
                        <label>
                            <input type="radio" name="view" ng-model="$parent.selectedClass" value="{{item.value}}" /> {{item.displayName}}
                        </label>
                    </div>
                </div>
            </div>

            <!-- Страница задачи -->
            <div class="text-center well fon" ng-if="tasksItemPage">
                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>
                                Подробное описание задачи
                            </h3>
                        </div>
                    </div>

                    <div class="panel-body row text-left">
                        <h4 class="col-sm-2">Название:</h4>
                        <div class="well col-sm-9">
                            {{user['tasks_list'][index].name}}
                        </div>

                        <h4 class="col-sm-2">Дата:</h4>
                        <div class="well col-sm-9">
                             {{user['tasks_list'][index].date}}
                        </div>

                        <h4 class="col-sm-2">Описание:</h4>
                        <div class="well col-sm-9">
                             {{user['tasks_list'][index].full_description}}
                        </div>

                        <h4 class="col-sm-2">Приоритет:</h4>
                        <div class="well col-sm-9">
                              {{user['tasks_list'][index].priority}}
                        </div>

                        <h4 class="col-sm-2">Планируемое время:</h4>
                        <div class="well col-sm-9">
                            <input type="text" ng-model="user['tasks_list'][index].estimate" />

                        </div>

                        <h4 class="col-sm-2">Затраченное время:</h4>
                        <div class="well col-sm-9">
                            <input type="text" ng-model="user['tasks_list'][index].loged" />
                        </div>

                        <h4 class="col-sm-2">Статус выполнения:</h4>
                        <div class="well col-sm-9">
                            <input type="text" ng-model="user['tasks_list'][index].complete" />
                        </div>
                    </div>

                </div>
                <div class="btn btn-primary" ng-click=showTasksListPage()>Вернуться к списку задач</div>
            </div>
        </div>
    </div>
</body>
</html>

